<rules>
    <rule name="Rewrite to article.aspx">
        <match url="^article/([0-9]+)/([_0-9a-z-]+)" />
        <action type="Rewrite" url="article.aspx?id={R:1}&amp;title={R:2}" />
    </rule>
    
    <rule name="Abort .js for BOOK.YUKFANG.COM" stopProcessing="true">
        <match url="(.*)" negate="false"/>
        <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}"   pattern="book.yukfang.com" />
            <add input="{REQUEST_URI}" pattern="(pagetop|pagebottom|user1|tempbookcase1)\.js" />
        </conditions>
        <action type='AbortRequest'   /> 
    </rule>
    
    <rule name="ProxygDoc" stopProcessing="true">
        <match url="(.*)" />
        <conditions  logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^(yfaproxy.azurewebsites.net)$" />
        </conditions>
        <action type='Rewrite' url="{StaticRewrites:{HTTP_HOST}}{REQUEST_URI}" appendQueryString="true" /> 
    </rule>
        
        <!-- -->
    <rule name="ProxyDig" stopProcessing="true">
        <match url="(.*)" />
        <conditions  logicalGrouping="MatchAll">
            <add input="{HTTP_HOST}" pattern="^(dig.yukfang.com)$" />
        </conditions>
        <action type='Rewrite'  url="{StaticRewrites:{HTTP_HOST}}{REQUEST_URI}" appendQueryString="false" /> 
        <serverVariables>
            <set name="HTTP_ACCEPT_ENCODING" value="--x--" />
        </serverVariables>
    </rule>
        
    <rule name="DefaultProxy" stopProcessing="true">
        <match url="(.*)" />
        <conditions  logicalGrouping="MatchAll">
            <add input="{StaticRewrites:{HTTP_HOST}}" pattern="(.+)" />
        </conditions>
        
        <serverVariables>
            <set name="HTTP_ACCEPT_ENCODING" value="--x--" />
            <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="{HTTP_ACCEPT_ENCODING}" />
            <set name="HTTP_EXTERNAL_ADDRESS" value="------ 2------" />
            <set name="HTTP_CONTENT_TYPE_X" value="------ 2------"   />
            <set name="HTTP_X_ORIGINAL_HOST" value="------ 2------"  />

            
        </serverVariables>
        <!--
        <action type='Rewrite'  url='https://m.moyankan.com/0/48/48285/19514568.shtml'/>
            -->
        
        <action type='Rewrite'  url="{StaticRewrites:{HTTP_HOST}}{REQUEST_URI}" appendQueryString="false" /> 
    </rule>
</rules>