<outboundRules>
    <!-- add tracking script -->

    <rule name="Add tracking script" patternSyntax="ExactMatch" preCondition="IsHTML" stopProcessing="false">
        <match filterByTags="None" pattern="&lt;/body>" />
        <action type="Rewrite" value="&lt;script type='text/javascript'>Your web analytics tracking code goes here...&lt;/script>&lt;/body>" />
    </rule>
    
    <rule name="Remove JS from HTML" patternSyntax="ECMAScript"  preCondition="IsHTML" stopProcessing="false">
        <match filterByTags="Script" pattern="(push|tj|pagetop|c-2451-25)\.js"/>
        <action type="Rewrite" value="" />
    </rule>
    
    <rule name="Remove something from HTML" patternSyntax="ECMAScript"  preCondition="IsHTML" stopProcessing="false">
        <match filterByTags="None" pattern="(tongji|reader_page_t|reader_show|addbookcase).*"/>
        <action type="Rewrite" value="" />
    </rule>
    
    <rule name="Remove IMG from HTML" patternSyntax="ECMAScript"  preCondition="IsHTML" stopProcessing="false">
        <match filterByTags="Img" pattern="(hm|123|logo)\.png"/>
        <action type="Rewrite" value="" />
    </rule>
    
    <rule name="Remove A from HTML" patternSyntax="ECMAScript"  preCondition="IsHTML" stopProcessing="false">
        <match filterByTags="A" pattern="/info/48286.html"/>
        <action type="Rewrite" value="" />
    </rule>
        
    <rule name="Remove JS from JS" patternSyntax="ECMAScript"  preCondition="IsJS" stopProcessing="false">
        <match filterByTags="Script" pattern="(hm|123|pagetop|c-2451-25)\.js"/>
        <action type="Rewrite" value="" />
    </rule>
        

    <rule name="Replace Domain" patternSyntax="ECMAScript"  preCondition="IsHTML" stopProcessing="false">
        <match filterByTags="None" customTags="My Tags"  pattern="(https://)(m|www)\.moyankan\.com"/>
        <action type="Rewrite" value="https://book.yukfang.com" />
    </rule>
    
    <rule name="Replace Irrelated Content" patternSyntax="ECMAScript"  preCondition="IsHTML" stopProcessing="false">
        <match filterByTags="None" customTags="My Tags"  pattern="(m|www)\.vipxs\.la"/>
        <action type="Rewrite" value="Filter by Yuk" />
    </rule>     




    <rule name="hard-core-rm" patternSyntax="ECMAScript"  preCondition="IsHTML" stopProcessing="false">
        <match filterByTags="None" customTags="My Tags"  
        pattern="((https://)(m|www)\.paypal\.com(.*)(gif))|((//www.google-analytics.com/analytics.js))|((Donate)(.*))"/>
        <action type="Rewrite" value="" />
    </rule>  
    <rule name="hard-core-rm-2" patternSyntax="ECMAScript"  preCondition="IsHTML" stopProcessing="false">
        <match filterByTags="None" customTags="My Tags"  
        pattern="(parentNode.insertBefore)"/>
        <action type="Rewrite" value="" />
    </rule>  
        
    <rule name="hard-core-rm-3" patternSyntax="ECMAScript"  preCondition="IsHTML" stopProcessing="false">
        <match filterByTags="None"    
        pattern="(Tips:)"/>
        <action type="Rewrite" value="===Proxy By YFA===" />
    </rule> 
    <rule name="hard-core-rm-4" patternSyntax="ECMAScript"  preCondition="IsHTML" stopProcessing="false">
        <match filterByTags="None"    
        pattern="(Your donation help keep this site alive!)"/>
        <action type="Rewrite" value="" />
    </rule>

    <rule name="Replace Ads url 01" patternSyntax="ExactMatch"  preCondition="IsHTML" stopProcessing="false">
        <match filterByTags="None"    pattern="async src"/>
        <action type="Rewrite" value="yfa001" />
    </rule>  
    <rule name="Replace Ads url 02" patternSyntax="ECMAScript"  preCondition="IsHTML" stopProcessing="false">
        <match filterByTags="None"   pattern="(facebook-jssdk)"/>
        <action type="Rewrite" value="Filter by Yuk" />
    </rule>  
    
    <rule name="rm JS from HTML dig.yukfang.com" patternSyntax="ECMAScript"  preCondition="IsHTML" stopProcessing="false">
        <match filterByTags="Script" pattern="(api|puny|adsbygoogle|analytics)\.js"/>
        <action type="Rewrite" value="" />
    </rule>
                
    <preConditions>
        <preCondition name="IsHTML">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
        </preCondition>
        
        <preCondition name="IsJSON">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/json" />
        </preCondition>
        
        <preCondition name="IsJS">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^javascript" />
        </preCondition>
        
        <preCondition name="IsCSS">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^css" />
        </preCondition>
    </preConditions>
        
        
    
    <customTags>
        <tags name="My Tags">
            <tag name="link" attribute="href" />
            <tag name="input" attribute="src, alt" />
            <tag name="meta" attribute="content" />
            <tag name="img"  attribute="src" />
            <tag name="script"  attribute="async src" />
            <tag name="iframe"  attribute="data-ad-client, name, id" />
        </tags>
    </customTags>
</outboundRules>