            <rewriteMaps>
                <rewriteMap name="StaticRewrites" defaultValue="">
                    <add key="dig.yukfang.com"          value="https://www.digwebinterface.com" />
                    <add key="yfaproxy.azurewebsites.net"   value="https://yfaecho.azurewebsites.net" />
                    <add key="proxy.yukfang.com"            value="https://yfaecho.azurewebsites.net" />
                    <add key="book.yukfang.com"             value="https://m.moyankan.com" /> <!-- 读小说 -->
                </rewriteMap>
            </rewriteMaps>