<?xml version="1.0" encoding="gb2312"?>
<configuration>
    <location path="1.html">
        <system.webServer>
            <security>
                <access sslFlags="Ssl,SslNegotiateCert,SslRequireCert" />
            </security>   
               
            <rewrite>
                <rules>
                    <clear/>
                    <rule name="R" stopProcessing="true">
                        <match url=".*" />
                        <action type="Rewrite" url="http://yfaecho.azurewebsites.net" redirectType="Permanent"  />
                    </rule>
                </rules>
            </rewrite>
        </system.webServer>
     </location>
    
      
    <system.webServer>
        <rewrite>
            <rewriteMaps    configSource="rewritemaps.config" />
            <rules          configSource="inbound.config" />
            <outboundRules  configSource="outbound.config" />
        </rewrite>
    </system.webServer>
</configuration>
